
{% extends "base.html" %}
{% include 'flash_messages.html' %}

{% block main %}

<h1>Properties</h1>

<div class="properties">

    {%for prop in props:%}
    <div class="property">
        <div class="thumbnail">
            <img src="{{ url_for('get_image', filename=prop.image_name) }}" />
        </div>
        
        <div class="info">
            <h4>{{prop.title}}</h4>
            <p>{{prop.location}}</p>
            <div class="price">${{prop.price}}</div>
        </div>
        
    </div>
    {%endfor%}
    
    
</div>

{% endblock %}
